<app-mini-nav-bar></app-mini-nav-bar>
<div class="out-box">
  <div class="rainbowed main-label">Welcome to detector</div>

  <div class="main-box">
    <div class="data-column">
      <div class="label-element">Find Aeroplane</div>
      <div class="label-element">Find Bicycle</div>
      <div class="label-element">Find Bird</div>
      <div class="label-element">Find Boat</div>
      <div class="label-element">Find Bottle</div>
      <div class="label-element">Find Bus</div>
      <div class="label-element">Find Car</div>
      <div class="label-element">Find Cat</div>
      <div class="label-element">Find Chair</div>
      <div class="label-element">Find Cow</div>
      <div class="label-element">Find Dinning Table</div>
      <div class="label-element">Find Dog</div>
      <div class="label-element">Find Horse</div>
      <div class="label-element">Find Motorbike</div>
    </div>
    <div class="image-column">
      <img src="/assets/intro.png" alt="" />
    </div>
    <div class="data-column">
      <div class="label-element">Find Potted Plant</div>
      <div class="label-element">Find Sheep</div>
      <div class="label-element">Find Sofa</div>
      <div class="label-element">Find Train</div>
      <div class="label-element">Find TV</div>
      <div class="label-element">Find Male</div>
      <div class="label-element">Find Female</div>
      <div class="label-element">Find Angry Emote</div>
      <div class="label-element">Find Disgust Emote</div>
      <div class="label-element">Find Happy Emote</div>
      <div class="label-element">Find Neutral Emote</div>
      <div class="label-element">Find Sad Emote</div>
      <div class="label-element">Find Scared Emote</div>
      <div class="label-element">Find Surprised Emote</div>
    </div>
  </div>

  <button class="main-button green-button" routerLink="/takephoto" routerLinkActive="active">Let's Go!</button>
</div>
