<div class="out-box">
  <div class="profile-div-sign">Profile</div>
  <div class="profile-div">
    <div class="inbox-current-div">
      <div class="inbox-div-sign">Current</div>
      <div class="inbox">
        <div class="in-current-titles">
          <span>First Name:</span>
          <span>Last Name:</span>
          <span>Username:</span>
          <span>Gender:</span>
        </div>
        <div class="in-current-titles">
          <span>{{currentFirstName}}</span>
          <span>{{currentLastName}}</span>
          <span>{{currentUsername}}</span>
          <span>{{currentGender}}</span>
        </div>
      </div>
    </div>

    <div class="inbox-change-div">
      <div class="inbox-div-sign">To Change</div>
      <div class="inbox">
        <div class="in-current-titles">
          <span>First Name:</span>
          <span>Last Name:</span>
          <span>Username:</span>
          <span>Password:</span>
          <span>Gender:</span>
        </div>
        <div class="in-change-values">
          <div class="text-box">
            <label>
              <input [(ngModel)]="firstName" class="text-field" type="text">
            </label>
          </div>
          <div class="text-box">
            <label>
              <input [(ngModel)]="lastName" class="text-field" type="text">
            </label>
          </div>
          <div class="text-box">
            <label>
              <input [(ngModel)]="username" class="text-field" type="text">
            </label>
          </div>
          <div class="text-box">
            <label>
              <input [(ngModel)]="password" class="text-field" type="password">
            </label>
          </div>
          <div class="radio-box">
            <mat-radio-group aria-label="Gender">
              <mat-radio-button value="Male" (change)="onChangeGender($event)">Male</mat-radio-button>
              <mat-radio-button value="Female" (change)="onChangeGender($event)">Female</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="button-box">
    <button class="profile-set-button green-button" (click)="updateUser()">Submit</button>
    <button class="profile-set-button yellow-button" routerLink="/main">Main Page</button>
  </div>
</div>
